.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  width: 50%;
  margin: auto;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  margin: auto;
}

h1, h2, .cta {
  text-align: center;
}

.cta {
  margin: 0px 43%;
}

table {
  border-collapse: collapse;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
}

th, td {
  border: 1px solid #a5b4fc;
  color: white;
}

th {
  padding: 15px;
  font-weight: 400;
}

td {
  padding: 80px;
}

@media screen and (max-width: 996px) {
  .section-tarifs {
    display: none;
  }
}