.portfolio {
  background-color: white;

  & .portfolio__title {
    color: #242424;
    margin-bottom: 80px;
    margin-top: 80px;
  }

  & .portfolio__grid {
      display: grid;
      /* grid-template-columns: 1fr 1fr 1fr; */
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;

    & .portfolio__grid--paysage {
      grid-template-rows: 300px 300px 300px;
      gap: 15px;
    }

    & .portfolio__grid--portraits {
      grid-template-rows: 300px 300px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .portfolio__item {
    position: relative;
    display: block;
    /* height: 300px; Taille uniforme */
    aspect-ratio: 4 / 3;
    overflow: hidden;

    &:hover .portfolio__hover {
      opacity: 1;
    }
  }

  & .portfolio__hover {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

@media screen and (max-width: 996px) {
  .portfolio .portfolio__grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}