* {
  margin: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}

.navbar, footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

:root {
  --purple: #a5b4fc;
}

.navbar__link {
  color: #242424;
  text-decoration: none;
  padding-left: 30px;

  &:hover {
    text-decoration: underline;
  }
}

.navbar__link--purple {
  color: var(--purple);
}

em {
  color: var(--purple);
  font-style: normal;
}

h1 {
  font-size: 3.6em;
  color: var(--purple);
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.cta {
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}

section {
  padding: 80px;
}

@media screen and (max-width: 996px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .lien-icone {
      margin: 0;
    }

    & .navbar__links {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      align-items: center;
    }

    & .navbar__link {
      padding-left: 0;
    }
  }

  header nav img {
    margin-bottom: 20px;
  }

  header, footer {
    padding: 20px 20px
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

